<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }

</style>
</head>


<body>

    <h1> Country Covid Stats</h1>
    <br>
    <form method = 'POST'>
    	<label> Enter The Country Name</label>
    	<br>
    	<br>
    	<br>
    	<input placeholder= 'The Country Name' name = 'IP1'>
    	<input type="submit">
    </form>

    <iframe src="{{image}}"></iframe>
    <p>You Have {{ Visits }} Visitors.</p>

</body>
</html>
